body
  +background( radial-gradient( burlywood, sienna ) )
  @extend %flexed--column
  +background-filter( url( '#texture-wood' ) )
  main
    +background( radial-gradient( lightgreen, darken( darkgreen, 10% ) ) )
    box-shadow: inset 0 0 3rem black
    margin: 2%
    padding: 1%
    @extend %flexible
    +background-filter( url( '#texture-felt' ) )

.filters
  @extend %hidden
